body{
	
}

ul#menu li {
    display:inline;
}

#profile {
	width:14%;
	height:14%;
	border-radius: 50%;
}

.cover { 
    /* The image used */
    background-image: url("../images/cover.png");

    /* Full height */
    height: 100vh; 
	width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}
.cover-color { 
    background-color: rgba(128, 216, 255, 0.9);
	height: 100vh;
	padding-top: 10%;
	padding-bottom: 10%;
}

#content {  
	background-color: #e1f5fe;
}

#socialIcon {  
	font-size: 32px;
	color: white;
	margin-top: 32px;
	margin-left: 16px;
	margin-right: 16px;
}

#websiteCover { 
    background-color: rgba(128, 216, 255, 0.9);
	padding-top: 64px;
	padding-bottom: 48px;
}
#websiteButton {  	
	margin-left: 32px;
	margin-right: 32px;	
}

#Background{
	padding-top: 64px;
	padding-bottom: 64px;
}
#aboutme{
	padding-top: 32px;
	margin-left: 30%;
	margin-right: 30%;
}

#timeline-seperator{
	background-color: #e1f5fe;
	padding-bottom: 16px;
	padding-top: 16px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: rgba(33, 33, 33, 0.4);
  left: 50%;
  margin-left: -1px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel-left {
  width: 24%;
  float: left;
  padding: 16px;
  margin-left: 24%;
  position: relative;
}

.timeline > li > .timeline-panel-right {
  width: 24%;
  float: right;
  padding: 16px;
  margin-right: 24%;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #b3e5fc;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-right > .timeline-panel {
  float: right;
}

.timeline > li.timeline-right > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-right > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li.timeline-left > .timeline-panel {
  float: left;
}

.timeline > li.timeline-left > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-left > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title-left {
  margin-top: 0;
  color: inherit;
  text-align: right;  
}
.timeline-header-left {
  margin-top: 16px;
  color: inherit;
  text-align: right;
  opacity: 0.8;
}
.timeline-time-left {
  margin-top: 16px;
  color: inherit;
  text-align: right;
  font-size: 14px;
  opacity: 0.7;
}

.timeline-title-right {
  margin-top: 0;
  color: inherit; 
  text-align: left;
}
.timeline-header-right {
  margin-top: 16px;
  color: inherit;
  text-align: left;
  opacity: 0.8;
}
.timeline-time-right {
  margin-top: 16px;
  color: inherit;
  text-align: left;
  font-size: 14px;
  opacity: 0.7;
}

.timeline-body-left > p,
.timeline-body-left > ul {
  margin-top: 16px;
  text-align: right;
  opacity: 0.5;
}
.timeline-body-right > p,
.timeline-body-right > ul {
  margin-top: 16px;
  text-align: left;
  opacity: 0.5;
}

.skill-title{
	opacity: 0.6;
	font-size: 16px;
}
.skill-header{
	margin-bottom: 8px;
	font-size: 14px;
}